# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.cache

# other
eclipse
run
run-gametest
run-acceptance-server
run-acceptance-client
logs

# Files from Forge MDK
forge*changelog.txt

/run-acceptance-persistence/

/run-acceptance-construction/
