# Stone & Banner camera access for Minecraft 1.20.1 official mappings.
public net.minecraft.client.Camera m_90566_(D)D # getMaxZoom
public net.minecraft.client.Camera m_90572_(FF)V # setRotation
public net.minecraft.client.Camera m_90581_(Lnet/minecraft/world/phys/Vec3;)V # setPosition(Vec3)
public net.minecraft.client.renderer.GameRenderer m_109141_(Lnet/minecraft/client/Camera;FZ)D # getFov
